.chat {
    display: flex;
    flex-direction: column;
    height: 265px;
    justify-content: space-evenly;
    align-items: center;
}
.chat .chat_container {
    overflow: scroll;
    height: 70%;
    width: 70%;
}
.chat .chat_container div{
    display: flex;
    justify-content: space-around;
}
form {
    width: 70%;
    text-align: right;
}
input {
    width: 70%;
}
