.page_game {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    grid-template-columns: repeat(3, 1fr);    
}
.title {
    grid-column: 2;
    text-align: center;
}
.actions {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.decision {
    display: flex;
    justify-content: center;
    align-items: center;
}